body {  font-family: DroidSansRegular, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif; font-size: 14px; line-height: 20px; color: #666; position: relative; -webkit-font-smoothing: antialiased; }

table{
	width:100%;
	border-collapse:collapse;
	table-layout:auto;
	vertical-align:middle;
	margin-bottom:15px;
	border:1px solid #CCCCCC;
	text-align:center;
	}

table thead th{
	color:#FFFFFF;
	background-color:#F9F1C9;
	border:1px solid #CCCCCC;
	border-collapse:collapse;
	text-align:center;
	table-layout:auto;
	vertical-align:middle;
	}

table tbody td{
 font-size:15px;
	border-collapse:collapse;
	border-left:1px solid #CCCCCC;
	border-right:1px solid #CCCCCC;
	}
	
table thead th, table tbody td{
 font-size:15px;
	padding:5px;
	border-collapse:collapse;
	}

/*---DATATABLE----*/

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }
td.black {
        font-weight: bold;
        color: #000000;
background-color: #FF4D4D;
    }


td.red {
        font-weight: bold;
        color: red;
background-color: #FF4D4D;
    }

td.green {
        font-weight: bold;
        color: green;
background-color: #85E085;
    }

td.yellow {
        font-weight: bold;
        color: black;
background-color: #FFFF4D;
    }


tr.cfo td {
  background-color: #fccb80;

}

tr.CANCELLED_DD td {
  background-color: #D8BFD8;

}

tr.LAPSED td {
  background-color: #B89470;

}

tr.BOUNCED_DD td {
  background-color: #94DBFF;

}

tr.Green td {
  background-color: #85E085;

}

tr.Amber td {
  background-color: #FFC266;

}

tr.Red td {
  background-color: #FF4D4D;

}
tr.Purple td {
  background-color: #A366A3;

}

.table td {
   text-align: center;   
}

.table th {
   text-align: center;   
}
/*----- Tabs -----*/
 /*----- Content of Tabs -----*/
    .tab-content {
        padding:15px;
        border-radius:3px;
        box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
        background:#fff;
    }
 
        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }

    .status_READY { color: black; background: #ADD8E6; }
    .status_INCALL { color: black; background: #D8BFD8; }
    .status_QUEUE { color: black; background: #37FDFC; }
    .status_PAUSED {color: black; background: #F0E68C; }
    .status_DISPO {color: black; background: yellow; }
    .status_DEAD {color: white; background: #777777; }
    .status_MANUAL {color: white; background: #ff9999; }
    .status_LEAD {color: white; background: #FFA500; }
    .status_LATE {color: white; background: #FF0000; }
    .status_AWOL {color: white; background: #ff0080 ; }

    .status_READY12 { color: white; background: #16A53F; font-weight: bold; }
    .status_INCALL12 { color: white; background: #B00004; font-weight: bold; }
    .status_PAUSED12 {color: white; background: #16A53F; font-weight: bold; }
    .status_QUEUE2 { color: white; background: #ff0000; }
    .status_DEAD2 {color: white; background: #777777; }
    .status_MANUAL2 {color: white; background: #ff9999; }
    .status_ptrans {color: white; background: #FF0000; }
     .status_trans {color: white; background: #551A8B; }

	.status_READY10 {color: black; background-color: #ADD8E6;}
	.status_READY1 {color: white; background-color: blue;}
	.status_READY5 {color: white; background-color: #191970;}
		
	.status_PAUSED10 {color: black; background-color: #F0E68C;} 
	.status_PAUSED1 {color: black; background-color: yellow;} 
	.status_PAUSED5 {color: white; background-color: #808000;}
	
	.status_INCALL10 {color: black; background-color: #D8BFD8;} 
	.status_INCALL1 {color: black; background-color: #EE82EE;} 
	.status_INCALL5 {color: white; background-color: purple;} 
    .status_READY { color: black; background: #ADD8E6; }
    .status_INCALL { color: black; background: #D8BFD8; }
    
 
    #element_to_pop_up_settings { 
    background-color:#fff;
    border-radius:15px;
    color:#000;
    display:none; 
    padding:20px;
    min-width:400px;
    min-height: 180px;
}

   
.b-close{
    cursor:pointer;
    position:absolute;
    right:10px;
    top:5px;
}

   

